<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div style="margin:0;height: 100%;top:0;width: 100%;position: static;">
        <div style="top:50%;left:50%;position: absolute;transform: translate(-50%, -50%);">

            <h1 style="margin-bottom: 20px;text-align: center;">WELCOME</p>
                <div class="button"></div>
            <a type="submit" class="btn btn-primary" href="manager.html">Manager</a>
            <a type="submit" class="btn btn-primary" href="customer.html">Customer</a>

        </div>
    </div>
    <script src="../user-actions.js"></script>
  </body>
</html>